<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" *ngIf="!isLoading" (submit)="onAddPost()">
    <div *ngIf="mode == 'create'">
      <button
        class="image-button"
        mat-stroked-button
        type="button"
        (click)="fileInput.click()"
      >
        Choose Image
      </button>
      <input type="file" #fileInput (change)="onImageChange($event)" />
    </div>
    <div
      class="imagePreview"
      *ngIf="
        imagePreviewUrl !== '' && imagePreviewUrl && form.get('image').valid
      "
    >
      <img [src]="imagePreviewUrl" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <input
        matInput
        formControlName="text"
        placeholder="text here"
        type="text"
      />
      <mat-error *ngIf="form.get('text').invalid">error</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
