<mat-card>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <input
        matInput
        name="nickname"
        type="text"
        ngModel
        placeholder="Nickname"
        required
        #nicknameInput="ngModel"
      />
      <mat-error *ngIf="nicknameInput.invalid"
        >Please enter your nickname (can't be changed)</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="name"
        type="text"
        ngModel
        placeholder="Name"
        required
        #nameInput="ngModel"
      />
      <mat-error *ngIf="nameInput.invalid">Please enter your name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="email"
        type="email"
        ngModel
        placeholder="E-Mail"
        required
        email
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid E-Mail address</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="password"
        type="password"
        ngModel
        placeholder="Password"
        #passwordInput="ngModel"
        required
        password
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password</mat-error
      >
    </mat-form-field>
    <button *ngIf="!isLoading" mat-raised-button color="primary" type="submit">
      Signup
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</mat-card>
