$fontSize: 14px;

:host {
  margin-top: 2rem;
  display: block;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
  img {
    width: 100%;
  }
}

mat-paginator {
  // margin-top: 2rem;
}

mat-card {
  margin-bottom: 2rem;
}

mat-card-title {
  font-size: $fontSize;
  font-weight: 600;
  margin-bottom: 1rem;
}

mat-card-content {
  p {
    font-size: $fontSize;
  }
  span {
    font-weight: 600;
  }
}

.time-ago {
  float: right;
}

mat-card-footer {
  border-top: 1px solid #efefef;
  display: flex;
  flex-direction: row;
}

.comment-input {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
}

.post-comment-button {
  background-color: transparent;
  color: #3897f0;
  border: none;
  font-weight: 600;
}

mat-card-actions {
  border-top: 1px solid #efefef;
  width: 100%;
  margin-bottom: 0;
}
